.wrapper-btn-anim-save {
  display: flex;
}

.bttn-full-screen{
  margin-left: 10px;
  width: 89px;
  height: 30px;
  background-color: gray;
  color: yellow;
  margin-top: 14px;
}

.bttn-save-apng {
  width: 45px;
  height: 44px;
  background-color: gray;
  background-image: url('../../../assets/images/SPOILER_icons.png');
  background-position: -229px -276px;
}

