.color-container{
  border: 2px solid white;
  height: 193px;
  position: relative;
}

.primary-color, .secondary-color {
  cursor: pointer;
  border: none;
}

.primary-color{
  height: 51px;
  width: 51px;
  margin: 36px 0 0 21px;
}

.secondary-color{
  width: 43px;
  height: 43px;
  margin: 4px 0px 0px 42px;
}

.fa-refresh {
  font-size: 29px;
  color: grey;
  margin-left: 5px;
  margin: 5px 0 0 5px;
  position: absolute;
}

.fa-refresh:hover {
  color: white;
}
