.user-name {
  color: white;
  margin: 0px 64px 0 0;
  font-size: 24px;
  line-height: 36px;
}

.btn-sign {
  color: black;
  width: 100px;
  height: 29px;
  font-size: 21px;
  line-height: 20px;
  margin: 6px 21px 0px 0;
}

.hide {
  display: none;
}

.btn-sign:hover {
  background-color: yellow;
}
